@charset "EUC-KR";
/* aside */
.left-aside {
    width: 15%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px;
    background-color: var(--current-aside);
    overflow-y: scroll;
}

.left-aside::-webkit-scrollbar {
    display: none;
}

.left-aside .menu .project-title {
    width: 100%;
    height: fit-content;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
}

.left-aside .menu > ul {
    margin-bottom: 30px;
}

.left-aside .menu .subtitle {
    max-width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid var(--current-basic-font);
}

.left-aside .menu .items {
    max-width: 100%;
    font-size: 17px;
    margin: 15px 0px 15px 50px;
}

.left-aside .my-page {
    width: 100%;
    font-size: 20px;
}

.login-pop {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #332e2e90;
    left: 0px;
    top: 0px;
}

.login-pop section {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color:var(--current-aside);
}

.login-pop .login-pop-title {
    width: 100%;
    height: fit-content;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 25px;
}

.login-pop .login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-pop .login-form input {
    width: 87%;
    height: fit-content;
    padding: 10px 19px;
    margin-bottom: 30px;
}

.login-pop .login-form .loginBtn {
    width: 100%;
    height: fit-content;
    padding: 7px 0px;
    margin-bottom: 12px;
}

.login-pop .login-form > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

.login-pop .register,
.login-pop .find {
    color: var(--current-special-font);
}