@charset "EUC-KR";
:root {
	/* 기본 button 색상 */
	--pastel-red : #E2B49A;
	--pastel-yellow : #E9C87B;
	--pastel-skyblue : #C3D3E0;
	--pastel-blue : #9BABB8;
	
	/* Dark Mode일 때, 사용할 색상 */
	--dark-special-font : #E5E5E5;
	--dark-background : #6B829D;
	--dark-aside : rgba(56, 91, 111, 0.54);
	--dark-basic-font : #FFFFFF;
	
	/* Bright Mode일 때, 사용할 색상 */
	--bright-special-font : #9D9D9D;
    --bright-background : #FFF7F0;
    --bright-aside : rgba(255, 188, 174, 0.54);
    --bright-basic-font : #424242;
    
    /* 현재 Mode에 대한 색상 저장 */
    --current-special-font: var(--dark-special-font);
    --current-background: var(--dark-background);
    --current-aside: var(--dark-aside);
    --current-basic-font: var(--dark-basic-font);
    --current-btn: var(--pastel-skyblue);
    --current-btn-hover: var(--pastel-blue);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: var(--current-background);
	display: flex;
	flex-direction: row;
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--current-basic-font);
}

/* 전페이지 공통 적용 속성*/
ul {
	list-style: none;
	padding-left: 0px;
}

a {
	text-decoration: none;
	color: var(--current-basic-font);
}

input {
	border: none;
	border-bottom: 1px solid var(--current-basic-font);
	background-color: #ffffff00;
	letter-spacing: 2px;
	color: var(--current-basic-color);
}

input::placeholder {
	color: var(--current-basic-font);
	opacity: 0.7;
}

input:focus {
	outline: none;
	cursor: pointer;
}

button {
	border: none;
	background-color: var(--current-btn);
}

button:hover {
	cursor: pointer;
	background-color: var(--current-btn-hover);
}

.set-margin {
    width: 80%;
    max-height: 100%;
    padding: 100px 100px 50px 100px;
}

/* Main - .main*/
.main {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main .web-title {
	font-weight: bold;
	font-size: 40px;
}
.main .comment {
	font-size: 20px;
	text-align: center;
}

.main .service-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main .service-list .menu {
	width: 600px;
	height: fit-content;
	font-size: 25px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.main .service-list .menu.first {
	background-color: var(--pastel-red);
}

.main .service-list .menu.second {
    background-color: var(--pastel-yellow);
}

.main .service-list .menu.third {
    background-color: var(--pastel-skyblue);
}

.main .service-list .menu.fourth {
    background-color: var(--pastel-blue);
}

.main .service-list .menu a{
    display: block;
    padding: 20px;
	max-width: 100%;
	max-height: 100%;
	color: black;
}

.login {
	width: 17%;
	max-height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 50px;
	background-color: var(--current-aside);
}

.login .title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 100px;
}

.login .login-form {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	algin-items: center;
}

.login .login-form input {
	margin-bottom: 70px;
	padding: 10px 15px;
	font-size: 20px;
	letter-spacing: 2px;	
}

.login .login-form .loginBtn {
	width: 100%;
	height: fit-content;
	background-color: var(--current-btn);
	font-size: 20px;
	padding: 10px 0px; 
	margin-top: 10px;
	margin-bottom: 15px;
	border: none;
}

.login .login-form .loginBtn:hover {
	background: var(--current-btn-hover);
}

.login .register,
.login .find {
	font-size: 17px;
	padding-bottom: 5px;
	color: var(--current-special-font);
}