@charset "EUC-KR";
.read {
    overflow-x: hidden;
    overflow-y: hidden;
}

.read .test{
    max-width: 100%;
    overflow-x: hidden;
    height: 93%;
    overflow-y: scroll;
}

.read .test::-webkit-scrollbar {
    display: none;
}

.read .title-part {
    width: 100%;
    height: fit-content;
}

.read .title-part .writer-info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.read .title-part .writer-info > .date {
    margin-right: 10px;
}

.read .title-part .title {
    font-size: 30px;
    font-weight: 500;
}

.read .title-part .wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight:100;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--current-basic-font);
}

.read .title-part .wrap ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.read .title-part .wrap ul li {
    width: fit-content;
    height: fit-content;
    margin-right: 30px;
}

.read .title-part .wrap ul li i::before {
    margin-right: 5px;
}

.read .title-part .wrap .scrap button {
    color: var(--current-basic-font);
    background-color: #ffffff00;
}

.read .title-part .wrap .scrap.active button {
    color: var(--pastel-yellow);
}

.read .title-part .wrap .btn-wrap {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.read .title-part .wrap .btn-wrap .modifyBtn {
    margin-right: 10px;
}

.read .title-part .wrap .btn-wrap .modifyBtn,
.read .title-part .wrap .btn-wrap .deleteBtn {
    padding: 5px 13px;
}

.read .test > .content {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.user-content {
    width: 100%;
    height: fit-content;
}

.read .comment-area {
    max-width: 100%;
    height: fit-content;
    margin-top: 10px;
    padding: 10px 10px;
    border-top: 1px solid var(--current-basic-font);
}

.read .comment-area .comment {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

.read .comment-area .user-info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.read .comment-area .user-info .nickname {
    width: fit-content;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.read .comment-area .user-info .date {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
}

.read .comment-area .content {
    max-width: 100%;
    margin: 0px;
    margin-left: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}


.read .download-area,
.read .download-area > ul {
    width: 100%;
    height: fit-content;
    margin: 0px;
    overflow-x: hidden;
}

.read .download-area ul.images {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 10px;
}

.read .download-area ul.images::-webkit-scrollbar {
    display: none;
}

.read .download-area .user-img {
    min-width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 10px;
}

.read .documents .user-doc {
    width: fit-content;
    height: fit-content;
    padding: 5px 13px;
    background-color: var(--current-aside);
    border-radius: 15px;
    margin-bottom: 5px;
}

.read .documents .user-doc > a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.read .documents .user-doc > a > span {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.read .documents .user-doc > a > i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-download:before {
    content: "\f019";
    margin-left: 10px;
    color: var(--current-basic-font);
}

.read .type-comment {
    width: 100%;
    height: fit-content;
    position: relative;
}

.read .type-comment #comment {
    width: -webkit-fill-available;
    height: fit-content;
    resize: none;
    padding: 5px 50px 5px 10px;
    color: var(--current-basic-font);
    background-color: var(--current-background);
    border: 1px solid var(--current-basic-font);
    font-family: 'Noto Sans KR', sans-serif;
}
.read .type-comment #comment::-webkit-scrollbar {
    display: none;
}
.read .type-comment #comment::placeholder {
    color: var(--current-basic-font);
}

.read .type-comment #comment:focus {
    outline: none;
}

.read .type-comment .submit {
    height: 100%;
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 20px;
    color: var(--currnet-basic-font);
    background-color: #ffffff00;
}