@charset "EUC-KR";

.write {
	overflow-y: scroll;
}

.write::-webkit-scrollbar {
    display: none;
}

.write .title {
    width: 100%;
    height: fit-content;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.write #sub-category {
    width: 120px;
    height: 32px;
    border: 1px solid var(--current-basic-font);
    background-color: #ffffff00;
    padding: 5px 10px;
    color: var(--current-basic-font);
    margin-bottom: 10px;
    cursor: pointer;
}

.write #sub-category:focus {
	outline: none;
}

.write .writing-part {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.write .writing-part #title {
	max-width: 100%;
	height: fit-content;
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 17px
}

.write .writing-part #content {
	max-width: 100%;
	height: 400px;
	resize: none;
	border: 1px solid var(--current-basic-font);
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
	color: var(--current-basic-font);
	padding: 10px 20px;
	background-color: #ffffff00; 
	margin-bottom: 20px;
}

.write .writing-part #content::-webkit-scrollbar {
    display: none;
}

.write .writing-part #content::placeholder {
	color: var(--current-basic-font);
	opacity: 0.7;
}

.write .writing-part #content:focus {
	outline: none;
}

.write .writing-part .file-area, 
.write .writing-part .document-area {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;	
}

.write .writing-part label {
}

.write .writing-part #file,
.write .writing-part #document {
	width: fit-content;
	margin-top: 10px;
}

.write .writing-part .btn-area {
	width: 100%;
	height: fit-content;
	padding: 20px 0px;
	display: flex;
	flex-direction: row-reverse;
	border-top: 1px solid var(--current-basic-font);
}

.write .writing-part .sendBtn {
	width: fit-content;
	height: fit-content;
	padding: 8px 20px;
	margin-right: 20px;
}